<section>
    <div>
        <h1 class="heading">perfect pizza</h1>
    </div>
</section>

<div class="cart container">
    <h4>shopping cart</h4>

    <table class="cartTotals">
        <tr>
            <td>
            <td>small</td>
            </td>
            <td> x<span class="howMany"></span>{{qtySmall}} </td>
            <td>R<span class="smallPizza"></span>{{small}} </td>
        </tr>
        <tr>
            <td>
            <td>medium</td>
            </td>
            <td> x<span class="howMany"></span>{{qtyMed}} </td>
            <td>R<span class="medPizza"></span>{{medium}} </td>
        </tr>
        <tr>
            <td>
            <td>large</td>
            </td>
            <td> x<span class="howMany"></span>{{qtyLarge}} </td>
            <td>R<span class="largePizza"></span>{{large}} </td>
        </tr>

        <tr>
            <td>
            <td>total cost</td>
            </td>
            <td> <span class="howMany"></span> </td>
            <td>R<span class="totalPizza">{{total}}</span> </td>
        </tr>

        <tr>

        </tr>
    </table>
    <div style="padding-top: 30px;">
        <a class="checkbtn btn" href="/order">Checkout</a>
    </div>
</div>

<form action="/pizzaTypes" method="post">
    <div class="categories">

        <div class="flex-container" style="padding-top: 30px;">
            <div class="small">
                <div class="info">
                    <img src="pizza.png" class="imgPizzaS" style="margin-bottom:20px" alt="">
                    <h2>Small Pizza</h2>
                    <strong>R31.99</strong>

                    <div style="padding-right: 40px;">
                        <ul> small margherita pizza with 3 toppings max.</ul>
                        <ul>2 or less meat topping.</ul>
                        <ul> 3 or less other toppings.</ul>
                    </div>

                </div>

                <div class="orderBox" style="padding-top: 30px;">
                    <button class="btn ordersmallPizza" type="submit" style="margin-left: auto" name="pizzaSize"
                        value="small">Order</button>
                </div>
                <h1>

                </h1>
            </div>

            <div class="medium" >
                <div class="info">
                    <img src="pizza.png" class="imgPizzaM" style="margin-top:20px;" alt="">
                    <h2>Medium Pizza</h2>
                    <strong>R58.99</strong>

                    <div style="padding-right:30px">
                        <ul>medium margherita pizza with 3 toppings max.</ul>
                       <ul> 2 or less meat topping.</ul>
                       <ul> 3 or less other toppings.</ul>
                    </div>
                </div>

                <div class="orderBox" style="padding-top: 30px;">
                    <button class="btn orderMediumPizza" type="submit" name="pizzaSize" value="medium"
                        style="margin-left: auto">Order</button>
                </div>
            </div>


            <div class="large">
                <div class="info">
                    <img src="pizza.png" alt="" class="imgPizzaL" style="margin-top:20px;">
                    <h2 style="margin-top:5px">Large Pizza</h2>
                    <strong>R87.99</strong>

                    <div style="padding-right:30px">
                        <ul>large margherita pizza with 3 toppings max.</ul>
                       <ul> 2 or less meat topping.</ul>
                       <ul> 3 or less other toppings.</ul>
                    </div>
                </div>

                <div class="orderBox" style="padding-top: 40px;">
                    <button class="btn orderMediumPizza" type="submit" name="pizzaSize" value="large"
                        style="margin-left: auto">Order</button>
                </div>
            </div>
        </div>
    </div>

</form>